/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# Application
app/config/warden-security.yml
src/Deeson/WardenBundle/Resources/public/css/warden-custom.css

# PHP Storm
.idea

# Key files
app/config/key.private
app/config/key.public
