/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock

# Application
src/Deeson/WardenBundle/Resources/config/site_config.yml
src/Deeson/WardenBundle/Resources/public/css/warden-custom.css
