/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock

# Application
app/config/warden-security.yml
src/Deeson/WardenBundle/Resources/public/css/warden-custom.css

# PHP Storm
.idea

# Key files
app/config/key.private
app/config/key.public
