{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>Users Config file has not been configured</p>

{% endblock %}