<div class="row">
  <div class="col-sm-5">
      {{ arturdoruch_pagination_displayed_items(pagination) }}
  </div>
  <div class="col-sm-7">
      {{ arturdoruch_pagination(pagination) }}
  </div>
</div>
