parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    protocol:          https
    public_key_file:   ./app/config/key.public
    private_key_file:  ./app/config/key.private