{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Warden Dashboard' %}

{% block content %}

    <h1>Site Config file has not been Generated.</h1>
    <p>There has been a problem reading the site configuration file.</p>
    <p>Please run 'php app/console deeson:warden:install' from the command line at the root of the application.</p>

{% endblock %}