{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Warden Dashboard' %}

{% block content %}
  {% trans_default_domain 'FOSUserBundle' %}

  {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      {{ form_widget(form) }}
      <div>
          <input type="submit" value="{{ 'change_password.submit'|trans }}" />
      </div>
  {{ form_end(form) }}

{% endblock %}


