
<!-- AdminLTE App -->
<script src="{{ asset('bundles/deesonwarden/assets/js/adminlte.min.js') }}" type="text/javascript"></script>
<!-- jQuery 3 -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html>
