{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Admin: Groups{% endblock %}

{% block page_title 'Warden Admin: Groups' %}

{% block content %}

  {% if groups %}
  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-body no-padding">
                  <table class="table table-hover">
                  <thead>
                      <tr>
                          <th width="30%">User</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for group in groups %}
                      <tr>
                          <td>
                              <a href="{{ path('admin_user_group_edit', {'id': group.getId()} ) }}">{{ group.getName() }}</a>
                          </td>
                      </tr>
                  {% endfor %}
                  </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

  <a href="{{ path('admin_user_group_new') }}">Create Group</a>

  {% else %}

  <p>There are currently no groups.</p>

  {% endif %}

{% endblock %}
