{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Warden Dashboard' %}

{% block content %}

    <h1>Site config file has not been generated.</h1>
    <p>There has been a problem reading the site configuration file, probably due to it not being generated.</p>
    <p>Please run <code>php bin/console deeson:warden:install</code> from the command line at the root of the application.</p>

{% endblock %}
