{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Dashboard{% endblock %}

{% block page_title 'Warden Dashboard' %}

{% block content %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}