{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is the sites dashboard page.</p>

{% endblock %}
