<div class="box">
    <div class="box-header">
        <h3 class="box-title">Installed {{ name|capitalize }} Libraries</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="60%">Name</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.version }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
