{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}