<p>This is a details of a site</p>

<p>URL: {{ site.url }}</p>
<p>Core Version: {{ site.core_version }}</p>
<p>System Status Token: {{ site.system_status_token }}</p>
<p>System Status Encrypt Token: {{ site.system_status_encrypt_token }}</p>

<a href="/sites"><< Back</a>