{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is a list of sites</p>

    {% if sites %}

    {% for site in sites %}
    <a href="/sites/{{ site.getId() }}">{{ site.getUrl() }}</a> - {{ site.getCoreVersion() }} ({{ site.getLatestCoreVersion() }}, {% if site.compareCoreVersion() %}Y{% else %}N{% endif %}) {% if site.getIsNew() %}(new){% endif %}<br />
    {% endfor %}

    {% else %}

        <p>There are currently no sites registered.</p>

    {% endif %}

{% endblock %}