{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Site Status{% endblock %}

{% block content_header '' %}

{% block content %}

    {% if sites %}

    <table border="1" width="100%">
        <thead>
            <tr>
                <td width="50%">Site</td>
                <td>Core Version</td>
                <td>Latest Core Version (Out of Date) [Security Update]</td>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
        <tr class="{% if site.compareCoreVersion() %}{% else %}{% if site.getIsSecurityCoreVersion() %}error{% else %}warning{% endif %}{% endif %}">
            <td><a href="{{ path('sites_show', {'id': site.getId() }) }}">{{ site.getUrl() }}</a> {% if site.getIsNew() %}(new){% endif %}</td>
            <td>{{ site.getCoreVersion() }}</td>
            <td>
                {{ site.getLatestCoreVersion() }}
                ({% if site.compareCoreVersion() %}N{% else %}Y{% endif %})
                [{% if site.getIsSecurityCoreVersion() %}Y{% else %}N{% endif %}]
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}

    <p>There are currently no sites registered.</p>

    {% endif %}

{% endblock %}