{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Delete site: {{ site.getName() }}{% endblock %}

{% block page_title %}View site: {{ site.getName() }}{% endblock %}

{% block content %}

    <p>This will permanently remove this site and all its data from Warden.</p>

    {{ form(form) }}

    <br />
    <a href="{{ path('sites_show', {'id': site.getId() }) }}">Cancel</a>

{% endblock %}