{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Edit site: {{ site.getName() }}{% endblock %}

{% block page_title %}Edit site: {{ site.getName() }}{% endblock %}

{% block content %}

    {{ form(form) }}

    <br />
    <a href="{{ path('sites_show', {'id': site.getId() }) }}">Cancel</a>

{% endblock %}
