{% extends 'DeesonSiteStatusBundle::layout.html.twig' %}

{% block title %}Module Status{% endblock %}

{% block content_header '' %}

{% block content %}

    <p>This is a list of modules</p>

    {% if modules %}

    {% for module in modules %}
    <a href="/modules/{{ module.getId() }}">{{ module.getName() }}</a> ({{ module.getProjectName() }}) ({{ module.getSiteCount() }})<br />
    {% endfor %}

    {% else %}

        <p>There are currently no modules registered.</p>

    {% endif %}

{% endblock %}