{% extends 'DeesonWardenBundle::layout.html.twig' %}

{% block title %}Warden Error - {{ exception.statusCode }}{% endblock %}

{% block page_title %}{{ exception.statusCode }}{% endblock %}

{% block content %}

  <div class="error-page">
    <h2 class="headline text-red">{{ exception.statusCode }}</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

      <p>
        Ouch, something broke. Please send us an email and let us know
        what you were doing when this error occurred. We will fix it as soon
        as possible. Sorry for any inconvenience caused.
      </p>
    </div>
  </div>

{% endblock %}
