<div class="box">
    <div class="box-header">
        <h3 class="box-title">Drupal site details</h3>
    </div>
    <div class="box-body">
        <p><strong>Current core version:</strong> {{ coreVersion }}</p>
        <p><strong>Latest version:</strong> {{ latestCoreVersion }}</p>
    </div>
</div>
